<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Base">
    

<xacro:macro name="base_transmission" params="prefix ">

<transmission name="${prefix}_LINK_trans" type="SimpleTransmission">
  <type>transmission_interface/SimpleTransmission</type>
  <actuator name="${prefix}_LINK_motor">
   <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
   <mechanicalReduction>1</mechanicalReduction>
  </actuator>
  <joint name="${prefix}_JOINT">
   <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
  </joint>
</transmission>

</xacro:macro>
</robot>
